*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    width: 40vw;
    flex-direction: column;
    background-color: orange;
    border: 5px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 15px 0px;
    padding: 50px;
}
.container h3{
    font-size: 2rem;
}
.container h1{
    font-size: 7rem;
    font-weight: 100;
}
.container button{
    width: 50%;
    padding: 7px 15px;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
#buttons{
    display: flex;
}
#buttons button:nth-child(1):hover{
    background-color: rgb(0, 147, 0);
    color: white;
}
#buttons button:nth-child(2):hover{
    background-color: red;
    color: white;
}